# Forecasting in Cryptocurrencies

With an aim to predict Bitcoin volatility, I have composed an extensive literature review that shortlists the potential influencers of the Bitcoin price. 

These determinants range from a variety of categories as listed below:


* Fiat Currencies
* Public Opinion
* Blockchain Attributes
* Macro-Economical Factors

An important and very crucial aspect of this project would be to fetch the above listed datasets, and put them in a combined table format.

There's a total of 30 time-series that we scrape from the internet. The information is fetched from two major sources: 


1. BitInfoCharts

2. Yahoo Finance

We start with importing relevant libraries wherein *re, requests and BeautifulSoup* are used for scraping the website [bitinfocharts](https://bitinfocharts.com), *yfinance* makes an API call to [Yahoo Finance](https://finance.yahoo.com) and lastly *pandas* for data manipulation.

In [1]:
import re
import requests 
import pandas as pd
import yfinance as yf
from bs4 import BeautifulSoup

## Data Acquisition
### 1. BitInfoCharts

Starting with the webite bitinfocharts, it has a detailed comparison of technological features such as:

* Blockchain Attributes

    1. Mining Profitability
    2. Number of Transactions
    3. Market Capitalisation
    4. Transacation Size
        - Average
        - Median
    5. Transaction Value
        - Average
        - Median
    6. Confirmation Time
    7. Block Size
    8. Fee Reward
    9. Hash Rate
    10. Number of active-addresses
    11. Number of Bitcoins sent
    12. Mining Difficulty
    14. Amount held by top 100 addresses
    
    
* Public Opinion

    1. Number of Tweets
    2. Google Searches

Unlike most data repositories with a tabular representation, this website has interactive graphs for each attribute to show their trend with the Bitcoin price. Thus we refer [this](https://stackoverflow.com/questions/59395294/how-to-scrape-data-from-chart-on-https-bitinfocharts-com) post to fetch numerical data from the JavaScript component of the dynamic web-graphs.

In [2]:
# helper function to parse a list of string
def parse_strlist(sl):
    # remove closed brackets, comma or whitespace in a string
    clean = re.sub("[\[\],\s]","",sl)
    # split the string on inverted commas
    splitted = re.split("[\'\"]",clean)
    # store non-empty values in a list
    values_only = [s for s in splitted if s != '']
    # return this list
    return values_only

The following function takes 2 input values - the attribute name and its url. The numeric information from the graph on that webpage is extracted into a dataframe with 2 columns - date and its associated numeric value.

If the code in the next cell doesn't work refer [this](https://stackoverflow.com/questions/26192727/extract-content-of-script-with-beautifulsoup) post to fix (change script.text to script.string) . Apparently the package BeautifulSoup has made some changes in the newer versions. Or simply run it on Google Colab, it has backward compatibility somehow.

In [3]:
# function to get numeric values from the graph
# parameters (2) : variable name and url
def get_graph_values(var_name, url):
  # GET request
  response = requests.get(url)
  # parse HTML content
  soup = BeautifulSoup(response.text, 'html.parser')
  # find JS component
  scripts = soup.find_all('script')
  # check each JS component with graph element
  for script in scripts:
      if 'd = new Dygraph(document.getElementById("container")' in script.text:
          StrList = script.text
          StrList = '[[' + StrList.split('[[')[-1]
          StrList = StrList.split(']]')[0] +']]'
          StrList = StrList.replace("new Date(", '').replace(')','')
          # call helper function
          dataList = parse_strlist(StrList)

  date = []
  value = []
  for each in dataList:
      if (dataList.index(each) % 2) == 0:
          date.append(each)
      else:
          value.append(each)

  df = pd.DataFrame(list(zip(date, value)), columns=["date",var_name])
  return df

As discussed above, there's a total of 18 time-series to scrape from this website. Thus to automate the process, I create a dictionary with key as the variable name (such as bitcoin price, number of tweets, block time etc.) and its value as the associated url. The comments in the code will help explain what each key conveys.

In [4]:
url_dict = {'market_capitalisation' : 'https://bitinfocharts.com/comparison/bitcoin-marketcap.html',
            # number of bitcoins sent in USD
            'sent_usd' : 'https://bitinfocharts.com/comparison/bitcoin-sentinusd.html',
            # number of transactions
            'transactions' : 'https://bitinfocharts.com/comparison/bitcoin-transactions.html',
            # transaction value
            'avg_transaction_value' : 'https://bitinfocharts.com/comparison/bitcoin-transactionvalue.html',
            'median_transaction_value' : 'https://bitinfocharts.com/comparison/bitcoin-mediantransactionvalue.html',
            # transaction fee
            'avg_transaction_fee' : 'https://bitinfocharts.com/comparison/bitcoin-transactionfees.html',
            'median_transacation_fee' : 'https://bitinfocharts.com/comparison/bitcoin-median_transaction_fee.html',
            # average time between blocks
            'block_time' : 'https://bitinfocharts.com/comparison/bitcoin-confirmationtime.html',
            # average block size
            'block_size' : 'https://bitinfocharts.com/comparison/bitcoin-size.html',
            # average fee percentage in total block reward
            'fee' :'https://bitinfocharts.com/comparison/bitcoin-fee_to_reward.html',
            # average minimum difficulty
            'difficulty' : 'https://bitinfocharts.com/comparison/bitcoin-difficulty.html',
            # hash per second
            'hashrate' : 'https://bitinfocharts.com/comparison/bitcoin-hashrate.html',
            # profit as USD per day for 1 THash per second
            'mining_profitability' : 'https://bitinfocharts.com/comparison/bitcoin-mining_profitability.html#1y',
            # number of unique addresses
            'active_adresses' : 'https://bitinfocharts.com/comparison/bitcoin-activeaddresses.html',
            # percentage of total coins held by richest 100 addresses
            'top_addresses' : 'https://bitinfocharts.com/comparison/top100cap-btc.html',
            # number of tweets
            'tweets' : 'https://bitinfocharts.com/comparison/bitcoin-tweets.html',
            # number of searches on google
            'google_trends' : 'https://bitinfocharts.com/comparison/google_trends-btc.html',
            # average price
            'price' : 'https://bitinfocharts.com/comparison/bitcoin-price.html'
            }

Now, to automate the process for each item stored in the dictionary, we first create an empty dataframe **bitinfo_df** with a single column termed *Date*. 

Next we iterate through each dictionary item and:

1. Extract the variable name
2. Extract the associated URL
3. Call the function with these 2 as input variables
4. Store the result returned in a temporary dataframe (2 cols)
5. Outer Join this dataframe with bitinfo_df on the Date Column

The last step ensures that all the information stored in the temporary datfarame is dumped onto the bitinfo_df, thereby making bitinfo_df a wide-form table with all the variables as individual columns. If this sounds confusing just look at the table structure in next to next cell.

In [5]:
# create empty dataframe
bitinfo_df = pd.DataFrame(columns=['date'])

# for each key-value pair
for item in url_dict.items():
  var_name = item[0]
  url = item[1]
  # call function which returns a dataframe
  df = get_graph_values(var_name, url)
  # outer join this dataframe with main dataframe
  bitinfo_df = bitinfo_df.merge(df, how='outer')

In [6]:
# typecast string to datetime
bitinfo_df['date'] = pd.to_datetime(bitinfo_df['date'])
# inspect table
bitinfo_df.head()

        date market_capitalisation sent_usd  ... tweets google_trends   price
0 2010-07-17                169839     1193  ...    NaN        0.0287  0.0495
1 2010-07-18                249761     2612  ...    NaN        0.0365  0.0726
2 2010-07-19                295981     4047  ...    NaN        0.0213  0.0859
3 2010-07-20                270546     2341  ...    NaN        0.0612  0.0783
4 2010-07-21                265900     2122  ...    NaN        0.0538  0.0767

[5 rows x 19 columns]

In [ ]:
# bitinfo_df.to_csv('bitinfo.csv')

As can be seen in the table, we have successfully scraped the relevant time-series from the webite Bitinfocharts! Next we proceed to Yahoo for other potential determinants.

### 2. Yahoo Finance

It has a very nice python package available [here](https://pypi.org/project/yfinance/) which makes an API call to download data. So we look at the features such as : 

* Macro-Economical Factors
    1. NASDAQ
    2. Gold Price
    3. Crude Oil
    4. Major Stocks
        - S&P500
        - DOW30
        - FTSE


* Fiat Currencies
    1. Euro
    2. Pound
    3. Japanbese Yen
    4. Chinese Yen
    5. Swiss Franc
    
To start with, let's create a dictionary with the variable name (stock or currency) as key and the associated symbol as the value. This could have also been done via a list of symbols but for the sake of understanding, I decided to go with a dictionary.

<span style="color:red">Note : Yahoo does not permit redistribution of data, the next part is specifically for the Thesis and research purpose.</span>

In [7]:
stocks_dict = {'swiss_franc' : 'CHFUSD=X',
               'euro' : 'EURUSD=X',
               'british_poun' : 'GBPUSD=X',
               'japanese_yen' : 'JPY=X',
               'chinese_yen' : 'CNY=X',
               'ftse' : '^FTSE',
               'dow_jones' : '^DJI',
               's&p500' : '^GSPC',
               'crude-oil' : 'CL=F',
               'nasdaq' : '^IXIC',
               'gold' : 'GC=F'
               }

In [8]:
# typecast dictionary values as a list
tickers = list(stocks_dict.values())
# create a df from the selected stocks/currencies
df = yf.download(tickers, start='2010-01-01')

[*********************100%***********************]  11 of 11 completed

In [9]:
# inspect data
df.head()

           Adj Close             ...        Volume
            CHFUSD=X       CL=F  ...         ^GSPC         ^IXIC
Date                             ...
2010-01-01  0.967211        NaN  ...           NaN           NaN
2010-01-04  0.971723  81.510002  ...  3.991400e+09  1.931380e+09
2010-01-05  0.967399  81.769997  ...  2.491020e+09  2.367860e+09
2010-01-06  0.973141  83.180000  ...  4.972660e+09  2.253340e+09
2010-01-07  0.967492  82.660004  ...  5.270680e+09  2.270050e+09

[5 rows x 66 columns]

We can see the data from Yahoo has multi-level format with the following attributes:

1. Open
2. High
3. Low
4. Close
5. Adjusted Close
6. Volume

As per the literature survey, it is just the closing price that explains the stock performance for the day. Thus we extract this information in the next cell.

In [10]:
# pick single column
yahoo_df = df['Close']
# current index is date, reset it to create a specific column for date anda numeric index
yahoo_df.reset_index(inplace=True)
# inspect data
yahoo_df.head()

        Date  CHFUSD=X       CL=F  ...        ^FTSE        ^GSPC        ^IXIC
0 2010-01-01  0.967211        NaN  ...          NaN          NaN          NaN
1 2010-01-04  0.971723  81.510002  ...  5500.299805  1132.989990  2308.419922
2 2010-01-05  0.967399  81.769997  ...  5522.500000  1136.520020  2308.709961
3 2010-01-06  0.973141  83.180000  ...  5530.000000  1137.140015  2301.090088
4 2010-01-07  0.967492  82.660004  ...  5526.700195  1141.689941  2300.050049

[5 rows x 12 columns]

Thus we now have two different datasets, the one from Bitinfocharts that would be contributed to [Monash Time Series Forecasting Repository](https://forecastingdata.org) and both of them together would be used for research purposes. To simplify the further research, we combine them into one big dataframe and export it as a CSV file.

In [11]:
# outer join both df
combined_df = pd.merge(bitinfo_df, yahoo_df, how ="outer", left_on='date', right_on='Date')
# remove duplicated Date column
combined_df.drop(['Date'],axis=1, inplace=True)
# sort data according to Date
combined_df = combined_df.sort_values('date')
# print df
combined_df

           date market_capitalisation  ...        ^GSPC         ^IXIC
4023 2009-01-03                   NaN  ...          NaN           NaN
4024 2009-01-04                   NaN  ...          NaN           NaN
4025 2009-01-05                   NaN  ...          NaN           NaN
4026 2009-01-06                   NaN  ...          NaN           NaN
4027 2009-01-07                   NaN  ...          NaN           NaN
...         ...                   ...  ...          ...           ...
4019 2021-07-18          595880906407  ...          NaN           NaN
4020 2021-07-19          585114953256  ...  4258.490234  14274.980469
4021 2021-07-20          559789752886  ...  4323.060059  14498.879883
4022 2021-07-21          584867227348  ...  4358.689941  14631.950195
4583 2021-07-22                   NaN  ...  4366.640137  14678.992188

[4584 rows x 30 columns]

As evident, we have procured 30 time-series for a period of 4584 days. 

Considering the intial 6 months have a lot of empty values for most of the variables, it roughly translates to 12 years worth of daily data.

In [12]:
# export to CSV
combined_df.to_csv('bitcoin.csv')