In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

In [2]:
tickers = ['CHFUSD=X', 'EURUSD=X', 'GBPUSD=X', 'JPY=X', 'CNY=X','UDOW', '000001.SS','CL=F', '^GSPC', '^IXIC', 'GC=F']

In [3]:
data = yf.download(tickers, group_by='Ticker',start='2010-01-01')

[*********************100%***********************]  11 of 11 completed

In [4]:
data.head()

                JPY=X                                                     \
                 Open       High        Low      Close  Adj Close Volume
Date
2009-12-31  92.430000  93.139999  91.949997  92.910004  92.910004    0.0
2010-01-01  92.940002  93.089996  92.919998  92.919998  92.919998    0.0
2010-01-04  92.760002  93.200996  92.196999  92.495003  92.495003    0.0
2010-01-05  92.470001  92.486000  91.282997  91.584999  91.584999    0.0
2010-01-06  91.550003  92.709999  91.522003  92.356003  92.356003    0.0

                  ^GSPC                                         ...  \
                   Open         High          Low        Close  ...
Date                                                            ...
2009-12-31  1126.599976  1127.640015  1114.810059  1115.099976  ...
2010-01-01          NaN          NaN          NaN          NaN  ...
2010-01-04  1116.560059  1133.869995  1116.560059  1132.989990  ...
2010-01-05  1132.660034  1136.630005  1129.660034  1136.520020  ...
2010-01-06  1135.709961  1139.189941  1133.949951  1137.140015  ...

                  ^IXIC                                            000001.SS  \
                    Low        Close    Adj Close        Volume         Open
Date
2009-12-31  2269.110107  2269.149902  2269.149902  1.237820e+09  3264.998047
2010-01-01          NaN          NaN          NaN           NaN          NaN
2010-01-04  2294.409912  2308.419922  2308.419922  1.931380e+09  3289.750000
2010-01-05  2295.620117  2308.709961  2308.709961  2.367860e+09  3254.468018
2010-01-06  2295.679932  2301.090088  2301.090088  2.253340e+09  3277.517090


                   High          Low        Close    Adj Close    Volume
Date
2009-12-31  3282.210938  3250.025879  3277.138916  3277.138916  116600.0
2010-01-01          NaN          NaN          NaN          NaN       NaN
2010-01-04  3295.279053  3243.319092  3243.760010  3243.760010  109400.0
2010-01-05  3290.511963  3221.461914  3282.178955  3282.178955  126200.0
2010-01-06  3295.867920  3253.043945  3254.215088  3254.215088  123600.0

[5 rows x 66 columns]

code below is referenced from :
https://stackoverflow.com/questions/63107594/how-to-deal-with-multi-level-column-names-downloaded-with-yfinance/63107801#63107801

In [5]:
# d = {idx: gp.xs(idx, level=0, axis=1) for idx, gp in df.groupby(level=0, axis=1)}

In [6]:
data.to_csv('data/stocks.csv')